.container{
    display: flex;
    justify-content: center;
    width: 700px;
    height: 500px;
   }
.cube{
    background-color: red;
    width: 100px;
    height: 100px;
    animation-name: rainbow-cube;
    animation-timing-function:ease ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes rainbow-cube{
    0%{   
    background-color: red;
    transform: translateX(-250px) ;
 }
    25%{
    transform: translate(-250px, 300px);
        background-color: blue;
    }
    50%{
      background-color: green;
      transform:translate(200px,300px) ;
    }
    75%{
       background-color: yellow; 
       transform: translateX(200px);
    }
    100%{
       background-color: red;
       transform: translateX(-250px);
    }
}       